:root {
    --first-background-color: white;
    --second-background-color: blue;
    --third-background-color: lightblue;

    --first-text-color: blue;
    --second-text-color: white;
    --third-text-color: lightblue;
}

.hidden{
    filter: blur(20px);
    
    &:hover {
        filter: blur(0px);
    }
}

h1 {
    font-size: 5rem;
}

p {
    font-size: 1.25rem;
}

ul {
  list-style: none; 
}

li {
  position: relative;
  padding-left: 25px; 
  margin-bottom: 8px;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); 
  
  background-image: url('../assets/images/Rubis_Vert_TWW.webp');
  background-size: contain; 
  background-repeat: no-repeat;
  
  width: 1rem;  
  height: 1rem; 
}
ul {
    list-style-image: url('../assets/images/Rubis_Vert_TWW.webp') 1rem;
}


header {
    padding: 0px 5%;

    display: flex;

    .image-profile {
        overflow: hidden;
        width: 250px;
        aspect-ratio: 1;

        margin: 0px 25px -5px 10px;
    
        border-color: var(--third-background-color);
        border-style: solid;
        border-width: 20px;
        border-radius: 100%;

        img {
            transform: 
                scaleX(-1) 
                translate(125px, -25px);
        }
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        padding-right: 10%;

        text-align: center;
    }
}

dd {
    padding-left: 5rem;
}

main {
    width: 100%;
    display:flex;

    aside {
        width: 30%;
        box-sizing: border-box;
        padding: 1.5%;

        padding-left: 7.5%;

    }
    section {
        width: 70%;
        box-sizing: border-box;

        padding-right: 7.5%;
    }
}

header,
footer {
    background-color: var(--second-background-color);
    color: var(--second-text-color);
}


main aside {
    background-color: var(--third-background-color);
    color: var(--first-text-color);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding-bottom: 15px;

    .title {
        margin-top: 2rem;

        margin-left: auto;
        margin-right: auto;
    }
}

article {
    margin: 2rem 5%;
    
    &:not(:last-child) {
        margin-bottom: 25px;
    }
}


.title {
    display: flex;
    margin-bottom: 1rem;

    .tile-icon {
        max-height: 3rem;
        margin-right: 5px;
    }

    h2 {
        font-size: 2.5rem;
    }
}
